pipeline/PL_COPYDATA_CSVCONTAINER_JSON_CONTAINER_DYANMIC.json
{
	"name": "PL_COPYDATA_CSVCONTAINER_JSON_CONTAINER_DYANMIC",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata -  CSB AND JSON CHILDITEMS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AZBLB_GET_METADATA",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FILTER - CSV FILES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata -  CSB AND JSON CHILDITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata -  CSB AND JSON CHILDITEMS').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith('@item().name','.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER JSON FILES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata -  CSB AND JSON CHILDITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata -  CSB AND JSON CHILDITEMS').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith('@item().name','.json')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}