pipeline/PL_DynamicLoadQueryWithVariableParam.json
{
	"name": "PL_DynamicLoadQueryWithVariableParam",
	"properties": {
		"activities": [
			{
				"name": "Copy data- PL_DynamicLoadQueryWithVariableParam",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable -  Query Through Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@variables('Query')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GeographyKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GeographyKey",
									"type": "Int32",
									"physicalType": "Int32"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EnglishCountryRegionName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglishCountryRegionName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SpanishCountryRegionName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpanishCountryRegionName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IpAddressLocator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IpAddressLocator",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQLServerOnPremiseDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AZSQL_GeographyDataOP",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable -  Query Through Variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Query",
					"value": {
						"value": "SELECT  [GeographyKey]\n      ,[City]\n      ,[CountryRegionCode]\n      ,[EnglishCountryRegionName]\n      ,[SpanishCountryRegionName]\n      ,[IpAddressLocator]\n  FROM [AdventureWorksDW2017].[dbo].[DimGeography]\n  WHERE [EnglishCountryRegionName]='@{pipeline().parameters.RegionName}'",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"RegionName": {
				"type": "string",
				"defaultValue": "Germany"
			}
		},
		"variables": {
			"Query": {
				"type": "String"
			}
		},
		"annotations": []
	}
}