pipeline/PL_ErrorHandling.json
{
	"name": "PL_ErrorHandling",
	"properties": {
		"activities": [
			{
				"name": "Data flow - Pivot",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SalesPivotTransformation",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Data flow- UnPivot Transformation",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Data flow - Pivot",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_UnPivotTransformation_ErrorHandling",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable - Error Message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow- UnPivot Transformation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error Message",
					"value": {
						"value": "@activity('Data flow- UnPivot Transformation').Error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure - Error log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable - Error Message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SpGetErrorDetails]",
					"storedProcedureParameters": {
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error Message')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZ_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Error Message": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-20T05:17:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}