pipeline/PL_LAB_22_COPYDATA_INCREMENTALLY_NEW_FILES_LAST_MODIFIED_DATE.json
{
	"name": "PL_LAB_22_COPYDATA_INCREMENTALLY_NEW_FILES_LAST_MODIFIED_DATE",
	"properties": {
		"activities": [
			{
				"name": "Lookup - MetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_METDATE_INCREMENTAL_FILELOAD",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Loop Through MetaData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - MetaData').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}