pipeline/PL_LAB_04_COPYDATA_CSVCONTAINER_JSON_CONTAINER_DYANMIC.json
{
	"name": "PL_LAB_04_COPYDATA_CSVCONTAINER_JSON_CONTAINER_DYANMIC",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata -  CSB AND JSON CHILDITEMS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AZBLB_GET_METADATA",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FILTER - CSV FILES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata -  CSB AND JSON CHILDITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata -  CSB AND JSON CHILDITEMS').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER JSON FILES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata -  CSB AND JSON CHILDITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata -  CSB AND JSON CHILDITEMS').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FOR EACH LOOP-THROUGH CSV FILES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER - CSV FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER - CSV FILES').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY DATA - CSV FILES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_FILER_COPYDATA_INPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Source_FileName_Param": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_FILTERCOPYDATA_OUTPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Sink_FileName_Param": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "FOR EACH LOOP-THROUGH JSON FILES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER JSON FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER JSON FILES').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY DATA JSON FILES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_FILER_COPYDATA_INPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Source_FileName_Param": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_FILTERCOPYDATA_OUTPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Sink_FileName_Param": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}