pipeline/PL_LAB_19_MULTI_TABLES_INCREMENTAL_LOAD.json
{
	"name": "PL_LAB_19_MULTI_TABLES_INCREMENTAL_LOAD",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Table Config Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQLDB_TABLE_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Loop Through Table Config",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Table Config Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Table Config Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup - OldWaterMarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM watermarktable_MultiLoad WHERE \nTableName = '@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_MULTILOAD_OLDWATERMARK_INPUT",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup - NewWaterMarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(@{item().WaterMark_Column}) AS NewWateraMarkValue FROM @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_AZSQLDB_OLDWATERMAR_ACTIVITY",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "COPY DATA - MULTI TABLE INCREMENTAL LOAD",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup - OldWaterMarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup - NewWaterMarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} >\n'@{activity('Lookup - OldWaterMarkValue').output.firstRow.WatermarkValue}' \nand @{item().WaterMark_Column} <= '@{activity('Lookup - NewWaterMarkValue').output.firstRow.NewWateraMarkValue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_MULTILOAD_OLDWATERMARK_INPUT",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_INCREMENTAL_LOAD_ONETABLE_OUTPUT",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Stored procedure - Update Water Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY DATA - MULTI TABLE INCREMENTAL LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark_MultiLoad]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@activity('Lookup - NewWaterMarkValue').output.firstRow.NewWateraMarkValue",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@activity('Lookup - OldWaterMarkValue').output.firstRow.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQLDB_KV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}