pipeline/PL_LAB_19_COPYDATA_AZSQLDB_STORAGE_EMAIL_NOTIFICATION.json
{
	"name": "PL_LAB_19_COPYDATA_AZSQLDB_STORAGE_EMAIL_NOTIFICATION",
	"properties": {
		"activities": [
			{
				"name": "COPY DATA - AZURE SQL DB TO STORAGE",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DROP TABLE A",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AZSQLBD_INPUT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AZSQLDB_STORAGE_OUTPUT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Success Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "COPY DATA - AZURE SQL DB TO STORAGE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/8aaaa039053845c2862311e262c535d5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PX3FN9y-_35zOfIj7QmgobDuxiYhfD5RuPbepvktAe8",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE FINISHED\",\n\"message\":\"DEMO-PIPELINE FINISHED SUCCESSFULLY\",\n\"color\":\"green\",\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineID\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "COPY DATA - AZURE SQL DB TO STORAGE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/8aaaa039053845c2862311e262c535d5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PX3FN9y-_35zOfIj7QmgobDuxiYhfD5RuPbepvktAe8",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE FINISHED\",\n\"message\":\"@{activity('COPY DATA - AZURE SQL DB TO STORAGE').Error}\",\n\"color\":\"green\",\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineID\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}