pipeline/PL_LAB_18_MULTI_TABLES_INCREMENTAL_LOAD.json
{
	"name": "PL_LAB_18_MULTI_TABLES_INCREMENTAL_LOAD",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Table Config Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQLDB_TABLE_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach - Loop Through Table Config",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Table Config Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Table Config Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup - OldWaterMarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_MULTILOAD_OLDWATERMARK_INPUT",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup - NewWaterMarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}