pipeline/PL_LAB_22_COPYDATA_INCREMENTALLY_NEW_FILES_LAST_MODIFIED_DATE.json
{
	"name": "PL_LAB_22_COPYDATA_INCREMENTALLY_NEW_FILES_LAST_MODIFIED_DATE",
	"properties": {
		"activities": [
			{
				"name": "Lookup - MetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_METDATE_INCREMENTAL_FILELOAD",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Loop Through MetaData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - MetaData').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable - Calculate Upper Bound Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_Param_Upper_Bound",
								"value": {
									"value": "@addminutes(item().lpv,item().duration)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "COPY DATA - BLOB TO BLOB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable - Calculate Upper Bound Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"V_Param_Upper_Bound": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}