pipeline/PL_LAB_21_COPYDATA_DB_STORAGE_MUL_AUDIT_EMAIL_NOTIFICATION.json
{
	"name": "PL_LAB_21_COPYDATA_DB_STORAGE_MUL_AUDIT_EMAIL_NOTIFICATION",
	"properties": {
		"activities": [
			{
				"name": "Lookup -  TableMetadata_Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQLDB_TABLEMETADATA_INPUT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Loop Through Table MetaData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup -  TableMetadata_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup -  TableMetadata_Load').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata - Getting Table Exists Status",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_AZSQL_DB_SCHEMA_TABLE_EXISTS_INPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Schema_Source_Param": {
											"value": "@item().Schemaname",
											"type": "Expression"
										},
										"ds_Table_Source_Param": {
											"value": "@item().Tablename",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "If Condition - Copy Data Based on Table Status",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata - Getting Table Exists Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata - Getting Table Exists Status').output.Exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Stored procedure - Update TableMetaData",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_UpdateTableMetadata_Load]",
											"storedProcedureParameters": {
												"IsActive": {
													"value": "0",
													"type": "Boolean"
												},
												"TableName": {
													"value": {
														"value": "@item().Tablename",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AZSQLDB_KV",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "COPY DATA FROM AZURE SQL TO BLOB",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_AZSQL_DB_SCHEMA_TABLE_EXISTS_INPUT",
												"type": "DatasetReference",
												"parameters": {
													"ds_Schema_Source_Param": {
														"value": "@item().Schemaname",
														"type": "Expression"
													},
													"ds_Table_Source_Param": {
														"value": "@item().Tablename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AZSQL_BLB_MULTLILOAD_OUTPUT",
												"type": "DatasetReference",
												"parameters": {
													"ds_sink_container_name": {
														"value": "@item().ContainerName",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Success_Audit",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "COPY DATA FROM AZURE SQL TO BLOB",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[audit_sp]",
											"storedProcedureParameters": {
												"adfname": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"copyduration": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"endtime": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').ExecutionEndTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"errormessage": {
													"value": null,
													"type": "String"
												},
												"pipelinename": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipelinerunid": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"recordsread": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"recordswritten": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"starttime": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').ExecutionStartTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"status": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').Status",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AZSQLDB_KV",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Failure_Audit",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "COPY DATA FROM AZURE SQL TO BLOB",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[audit_sp]",
											"storedProcedureParameters": {
												"adfname": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"copyduration": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"endtime": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').ExecutionEndTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"errormessage": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').Error",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipelinename": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipelinerunid": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"recordsread": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"recordswritten": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"starttime": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').ExecutionStartTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"status": {
													"value": {
														"value": "@activity('COPY DATA FROM AZURE SQL TO BLOB').Status",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AZSQLDB_KV",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Success - Email Notification on PipeLine Execution",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach - Loop Through Table MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/8aaaa039053845c2862311e262c535d5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PX3FN9y-_35zOfIj7QmgobDuxiYhfD5RuPbepvktAe8",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE FINISHED\",\n\"message\":\"DEMO-PIPELINE FINISHED SUCCESSFULLY\",\n\"color\":\"Green\",\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineID\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure - Email Notification on PipeLine Execution",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach - Loop Through Table MetaData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/8aaaa039053845c2862311e262c535d5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PX3FN9y-_35zOfIj7QmgobDuxiYhfD5RuPbepvktAe8",
					"method": "POST",
					"body": {
						"value": "{\n\"Title\":\"PIPELINE FINISHED\",\n\"Message\": \"Error\",\n\"Color\":\"Green\",\n\"Datafactoryname\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineID\":\"@{pipeline().RunId}\",\n\"Time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}