pipeline/PL_LAB_22_COPYDATA_INCREMENTALLY_NEW_FILES_LAST_MODIFIED_DATE.json
{
	"name": "PL_LAB_22_COPYDATA_INCREMENTALLY_NEW_FILES_LAST_MODIFIED_DATE",
	"properties": {
		"activities": [
			{
				"name": "Lookup - MetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_METDATE_INCREMENTAL_FILELOAD",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach - Loop Through MetaData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - MetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - MetaData').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable - Calculate Upper Bound Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_Param_Upper_Bound",
								"value": {
									"value": "@IF(LESSOREQUALS(addminutes(item().lpv,item().duration),convertFromUTC(utcnow(),'india standard time')),addminutes(item().lpv,item().duration),convertFromUTC(utcnow(),'india standard time'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "COPY DATA - BLOB TO BLOB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable - Calculate Upper Bound Value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@convertToUtc(item().lpv,'india standard time')",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@convertToUtc(variables('V_Param_Upper_Bound'),'india standard time')",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZBLB_COPY_METADATA_FILE_INCREMENTAL_LOAD_INPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Source_Container_name": {
											"value": "@item().sourcecontainer",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZBLB_FILE_INCREMENTAL_LOAD_OUTPUT",
									"type": "DatasetReference",
									"parameters": {
										"ds_Sink_Container_Name": {
											"value": "@item().sinkcontainer",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure - Update LPV",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY DATA - BLOB TO BLOB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_Metdata]",
								"storedProcedureParameters": {
									"Container": {
										"value": {
											"value": "@item().sourcecontainer",
											"type": "Expression"
										},
										"type": "String"
									},
									"lpv": {
										"value": {
											"value": "@variables('V_Param_Upper_Bound')",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AZSQLDB_KV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"V_Param_Upper_Bound": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}