pipeline/PL_LAB_09_COPY_MULTIPLE_FILES_FROM_CONTAINER_IF_FILE_EXISTS.json
{
	"name": "PL_LAB_09_COPY_MULTIPLE_FILES_FROM_CONTAINER_IF_FILE_EXISTS",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Get Container Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_MetaData_Container_Details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach -  Loop Through Containers",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Get Container Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Get Container Details').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata -  Container Files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Multiple_Copy_Container_Param_Input",
									"type": "DatasetReference",
									"parameters": {
										"ds_Source_Container_Param": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition - Check For Files In Containers",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata -  Container Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata -  Container Files').output.childitems.exists",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}