pipeline/PL_LAB_20_CASE_02_COPYDATA_AZSQLDB_STORAGE_EMAIL_NOTIFICATION_FAILURE.json
{
	"name": "PL_LAB_19_CASE_02_COPYDATA_AZSQLDB_STORAGE_EMAIL_NOTIFICATION_FAILURE",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline - DB TO BLOB",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_LAB_19_CASE_01_COPYDATA_AZSQLDB_STORAGE_EMAIL_NOTIFICATION_SUCCESS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Success Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline - DB TO BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/8aaaa039053845c2862311e262c535d5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PX3FN9y-_35zOfIj7QmgobDuxiYhfD5RuPbepvktAe8",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE FINISHED\",\n\"message\":\"DEMO-PIPELINE FINISHED SUCCESSFULLY\",\n\"color\":\"Green\",\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineID\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline - DB TO BLOB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.centralus.logic.azure.com:443/workflows/8aaaa039053845c2862311e262c535d5/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PX3FN9y-_35zOfIj7QmgobDuxiYhfD5RuPbepvktAe8",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"PIPELINE FINISHED WITH ERROR\",\n\"message\":\"@{activity('Execute Pipeline - DB TO BLOB').error.message}\",\n\"color\":\"Green\",\n\"datafactoryname\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineID\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Azure Data Factory Master Program - Pipelines"
		},
		"annotations": []
	}
}